.header{
    width: 100%;
    height: 185px;
    padding: 1.2rem;
    background: $first-color;
    border-radius: 0 0 3.5rem 3.5rem;
    box-shadow: 0 15px 50px -12px rgba(105, 6, 234, 0.25);
    .title{
        text-align: center;
        margin: 1rem 0;
        color: $light-color;
        font-size: $h3-font-size;
    }
    .subtitle{
        color: $light-color;
        margin: .5rem 0;
        h3{
            font-size: $small-font-size;
        }
    }
    .search{
        display: flex;
        i{
            color: $light-color;
            background-color: rgba(105, 6, 234, 0.75);
            border-radius: 100%;
            font-size: 16px;
            padding: .75rem;
        }
        img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 100%;
            margin: 0 .3rem;
        }
    }
}
