$first-color:  linear-gradient(90deg, rgba(149,4,241,1) 30%, rgba(252,0,255,0.5718662464985995) 85%);
$secondary-color: rgba(149,4,241,1);
$light-color: #FBF9F9;

$text-color: #777676;
$text-color-light: #9e9d9d;

$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;